/* Default page styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
}
body {
    /* IDEA can be changed later on */
    background: linear-gradient(90deg, rgba(111, 45, 168, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

/* Styles for mainframe */
body, main {  
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainframe {
    width: 75%;
    height: 65%;
    background-color: rgba(255, 255, 255, .35);
    border: .35rem solid rgb(255, 228, 196);
    border-radius: .75rem;

    /* IDEA can be changed later on */
    padding: 2rem;
    padding-top: 5rem;
}
.mainframe > * {
    font-size: 1.5rem;
    text-align: center;
}
.player--1 {
    width: inherit;
    height: 100%;
}
.midframe {
    width: 20%;
    height: 100%;
}
.player--2 {
    width: inherit;
    height: 100%;
}
h1 {
    margin-bottom: 2rem;
}
.score--1, .score--2 {
    font-size: 5rem;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.buttons > * {
    font-size: inherit;
    width: 175px;
    height: 50px;
    margin: .5rem;
    color: bisque;
    background-color: rgba(206, 0, 0, 255);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
.buttons > *:hover {
    background-color: rgba(206, 0, 0, .75);
}