/* Default page styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
}
body {
    background: linear-gradient(45deg, rgb(25, 4, 63) 20%, rgb(100, 6, 139) 80%);
}

/* Styles for mainframe */
body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
main {  
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainframe {
    width: 70%;
    height: 75%;
    background-color: rgba(255, 255, 255, .25);
    border: .25rem solid rgb(255, 228, 196);
    border-radius: .55rem;

    /* IDEA can be changed later on */
    padding: 1rem;
}
.mainframe > * {
    font-size: 1.5rem;
    text-align: center;
}
.subframes {
    background-color: rgb(66, 8, 112);
    border-radius: .5rem;
    border: 1.75px solid bisque;
    padding: 1rem;
    width: 55%;
    height: 30%;
    font-size: 70%;
    display: flex;
    flex-direction: column;
}

.player--1 {
    width: inherit;
    height: 100%;
}
.player--2 {
    width: inherit;
    height: 100%;
}
.player--1, .player--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.midframe {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.midframe > .dice {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice {
    color: white;
    font-size: 1.75rem; 
    width: 125px;
    height: 125px;
    background-image: url(../assets/d20.png);
    background-size: cover;
    background-position: center;
}

span {
    height: 100px;
    font-size: 7rem;
}
.arrow-left, .arrow-right {
    transform-origin: center 60%;
    transition: .5s ease-in-out;
}
.arrow-left {
    transform: rotate(0deg);
}
.arrow-right {
    transform: rotate(180deg);
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.score--1, .score--2 {
    font-size: 5rem;
}

.game-buttons {
    display: flex;
    flex-direction: column;
}
.game-buttons > * {
    width: 120px;
}
button {
    font-size: 1.25rem;
    margin: .35rem;
    width: 150px;
    height: 40px;
    color: bisque;
    background-color: rgba(206, 0, 0, 255);
    border: 1.75px solid bisque;
    border-radius: 2rem;
    cursor: pointer;
}
button:hover {
    background-color: rgba(206, 0, 0, .75);
}

/* Game Features */
.hidden {
    display: none !important;
}
.winner, .loser {
    border: .25rem solid bisque;
    transition: .5s ease-in-out;
}
.winner {
    background-color: #03C04A;
}
.loser {
    background-color: #D21F3C;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5rem;
    background-color: inherit;
    font-size: 1rem;
    color: bisque;
}
a {
    color: bisque;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
    html {
        font-size: 75%;
    }
    .mainframe {
        width: 60%;
        height: 65%;
    }
    .subframes {
        width: 45%;
        height: 25%;
    }
    button, .game-buttons > * {
        width: 125px;
        height: 35px;
    }
    .dice {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 65%;
    }
    .mainframe {
        width: 70%;
        height: 75%;
    }
    .subframes {
        width: 40%;
        height: 20%;
    }

    button, .game-buttons > * {
        width: 100px;
        height: 30px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 55%;
    }
    .mainframe {
        width: 70%;
        height: 75%;
    }
    .subframes {
        width: 40%;
        height: 15%;
    }
    button, .game-buttons > * {
        width: 75px;
        height: 25px;
    }
}